html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Inter Tight";
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}

h1 {
    margin: 0 15px;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

h2 {
    margin: 0 15px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

h3,
h4 {
    margin: 0;
    padding: 0;
}

h4 {
    font-family: "Inter Tight";
    font-size: 20px;
    font-weight: 700;
}

p,
li {
    color: rgb(90, 75, 87);
}

.intro p {
    margin: 2px 15px;
    font-size: 21px;
    color: gray;
    text-align: center;
    max-width: 750px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button h3 {
    margin: 0;
    font-size: 24px;
    text-align: start;
}

button p {
    margin: 0;
    text-align: start;
    font-size: 16px;
}

.header {
    display: flex;
    height: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
    justify-content: space-between;
}

.header a {
    font-family: "Inter Tight";
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100%;
    width: 200px;
    margin: 20px;
}

.logo a {
    display: flex;
    gap: 15px;
}

.logo a:hover {
    text-decoration: none;
}

.title {
    font-family: "Jost";
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-top: 3px;
    color: black;
    white-space: nowrap;
}

.menu {
    display: flex;
    height: 100%;
    margin: 15px;
    justify-content: end;
    align-items: center;
}

.menu_items {
    display: flex;
    font-family: "Inter Tight";
    font-weight: 300;
    font-size: 16px;
    word-spacing: +1px;
    justify-content: space-between;
    white-space: nowrap;
    gap: 1vw;
}

.dropdown {
    display: none;
    position: relative;
    justify-self: start;
    align-self: start;
    height: 100%;
    width: 45px;
}

.dropdown:focus-within>.menu_button_choices {
    display: inline-block;
}

.dropdown:focus .menu_button_choices {
    display: block;
}

.menu_button {
    display: none;
    height: 100%;
    width: 45px;
    margin-left: auto;

    background-image: url("../img/menu_dark.png");
    background-color: transparent;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.menu_button:hover {
    background-color: rgb(0, 0, 0, 0.05);
    cursor: pointer; 
}

.menu_button:active,
.menu_button:focus {
    background-color: rgb(0, 0, 0, 0.1);
    pointer-events: none; 
}

.menu_button_choices {
    display: none;
    min-width: 160px;
    position: relative;
    left: -115px;
    margin-right: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 4px;
}

.menu_choice {
    font-weight: 300;
    font-size: 16px;
    padding: 0.6rem 0;
    background-color: rgb(229, 229, 229);
    border: none;
}

.menu_choice:hover {
    background-color: rgb(249, 249, 249);
    cursor: pointer; 
    text-decoration: none;
}

.game .menu_button:active,
.game .menu_button:focus {
    background-color: rgb(34, 110, 70);
}

.game .menu_choice {
    background-color: rgb(34, 110, 70);
}

.game .menu_choice:hover {
    background-color: rgb(54, 130, 90);
}

.common_button {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0;
    width: 100%;
    padding: 0.6rem;
    color: white;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.common_button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.blue_button {
    background-color: rgb(43, 123, 214, 0.9);
}

.red_button {
    background-color: rgb(214, 91, 75, 0.9);
}

.green_button {
    background-color: rgb(0, 163, 84, 0.9);
}

.blue_button:hover {
    background-color: rgb(33, 103, 194);
}

.red_button:hover {
    background-color: rgb(184, 61, 45);
}

.green_button:hover {
    background-color: rgb(0, 133, 64);
}

#call_button.active {
    background-color: rgb(57, 60, 201);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#fold_button.active {
    background-color: rgb(201, 60, 57);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.create_lobby {
    font-family: "Inter";
}

#logo_img {
    height: 50%;
}

.error {
    color: red;
    font-size: 12px;
}

.error.found {
    margin-bottom: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.main .intro {
    gap: 16px;
}

.game_options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
    margin: 5vh 2vw;
}

.game_options button {
    display: flex;
    justify-content: start;
    align-items: center;
    width: clamp(165px, 14vw, 190px);
    height: clamp(165px, 14vw, 190px);
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-family: "Inter Tight";
    padding: clamp(15px, 1.3vw, 20px);
}

.game_options button:hover {
    background-color: rgb(0, 0, 0, 0.05);
}

.game_options button:active {
    box-shadow: rgba(0, 0, 0, 0.1) 1.25px 0.95px 2px;
    transform: translate(-0.75px, -1.05px);
}

.game_options button .button_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#Custom {
    justify-content: center;
}

#Custom .button_content {
    justify-content: center;
}

#lobby_direction {
    font-size: 14px;
}

.create_lobby .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0;
    margin-bottom: 30px;
}

.create_lobby input {
    width: 300px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    padding: 0.6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 4px 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.create_lobby input:focus {
    outline: none;
    border: 2px solid rgb(68, 74, 277);
    margin: 2px 0;
}

.create_lobby form {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(200px, 90vw, 400px);
}

.create_lobby form label {
    margin-left: 1px;
}

#start_game_button {
    background-color: rgb(0, 197, 96);
}

#start_game_button:hover {
    background-color: rgb(0, 167, 81);
}

.detail_field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.game .main {
    justify-content: space-between;
}

.game {
    background-color: rgb(19, 233, 108);
    background-image: url('../img/felt.png');
    display: grid;
    grid-template-rows: 50px 1fr 220px;
    justify-items: space-between;
}

.game .header {
    background-color: rgb(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.game .menu_button {
    background-image: url("../img/menu_light.png");
}

.game a {
    color: white;
}

.game .title {
    color: white;
}

#player_list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3vw;
    justify-items: center;
    align-items: end;
    grid-auto-columns: repeat(7, 1fr);
    width: 100vw;
    overflow-x: scroll;
}

.player_info_container {
    margin-top: 20px;
    padding: 7px;
    padding-top: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: rgb(0, 0, 0, 0.18);
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.player_info_container.turn {
    box-shadow: inset 0px 0px 0px 7px rgb(0, 0, 0, 0.1), rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.player_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: clamp(90px, 30vw, 150px);
    padding: clamp(14px, 1.2vw, 23px) clamp(11.5px, 1vw, 19px);
    border-radius: 5px;
    gap: clamp(5px, 0.7vw, 15px);
}

.player_name {
    text-align: center;
    font-size: clamp(16px, 1.2vw, 20px);
    font-weight: 600;
    line-height: 1rem;
    color: rgb(14, 48, 53);
    padding-bottom: 5px;
    width: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game .value_container {
    color: rgb(8, 3, 66);
}

.value_container {
    font-family: "Inter";
    font-size: 15px;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    background-color: rgba(0, 63, 100, 0.2);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-weight: 500;
}

.player_hand {
    display: flex;
    justify-content: center;
    gap: clamp(5px, 0.5vw, 10px);
}

.com_cards .card {
    height: clamp(69px, 20vw, 110px);
    width: clamp(48px, 14vw, 77px);
}

.com_cards .card_front p {
    font-size: clamp(24px, 7vw, 38px);
}

.card {
    height: clamp(69px, 5.7vw, 110px);
    width: clamp(48px, 4vw, 77px);
    font-size: clamp(24px, 2vw, 38px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.card_front p {
    font-family: "Oswald";
    color: black;
    margin: 34% 17%;
}

.card_front div p {
    font-family: 'Noto Serif JP';
    margin: 37% 15%;
}

.card_front {
    display: flex;
    flex-direction: column;
    background-color: white;
    line-height: 0;
    letter-spacing: 0;
    justify-content: space-between;
    align-items: start;
}

.card_front div {
    display: flex;
    width: 100%;
    justify-content: end;
}

.card_red p {
    color: red;
}

.card_back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: linear-gradient(30deg, #4169e1 12%, transparent 12.5%, transparent 87%, #4169e1 87.5%, #4169e1), linear-gradient(150deg, #4169e1 12%, transparent 12.5%, transparent 87%, #4169e1 87.5%, #4169e1), linear-gradient(30deg, #4169e1 12%, transparent 12.5%, transparent 87%, #4169e1 87.5%, #4169e1), linear-gradient(150deg, #4169e1 12%, transparent 12.5%, transparent 87%, #4169e1 87.5%, #4169e1), linear-gradient(60deg, #4169e177 25%, transparent 25.5%, transparent 75%, #4169e177 75%, #4169e177), linear-gradient(60deg, #4169e177 25%, transparent 25.5%, transparent 75%, #4169e177 75%, #4169e177);
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

.card_back img {
    width: 70%;
}

.com_cards {
    display: flex;
    gap: 10px;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    border-radius: 5px;
}

.flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

#game_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: auto;
}

.pip_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pot {
    background-color: rgb(0, 100, 0, 0.3);
}

.info_container {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}

.net_change {
    grid-row: 2;
    width: max-content;
    margin: auto;
}

.player_score {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-weight: 800;
}

#game_footer .player_score {
    margin: 0;
}

.flash {
    animation-name: flash;

}

#choice_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(230px, 85vw, 300px);
    gap: 5px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#choice_container .common_button {
    margin: 5px;
    padding-left: 0;
    padding-right: 0;
}

#raise_slider {
    width: 100%;
}

#main_choices {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px, 100px, 100px;
    width: 100%;
    gap: 5px;
}

#game_footer {
    display: grid;
    color: white;
    background-color: rgb(0, 0, 0, 0.25);
    box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.08) -3px -3px 6px 1px inset;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: start;
    min-height: 200px;
}

.footer_item {
    display: grid;
    height: 100%;
    grid-template-rows: 50px 100px auto;
    grid-template-columns: 1fr;
    width: auto;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.2);
}

#footer_buttons {
    display: none;
}

#game_log {
    grid-template-rows: 50px 136px;
}

#input_area {
    display: flex;
    justify-content: center;
    align-items: end;
}

#chat_input {
    font-family: "Inter Tight";
    font-size: 14px;
    padding: 0.6rem;
    margin: 0;
    width: 100%;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(0, 0, 0, 0.2);
    color: white;
}

#chat_input::placeholder {
    color: white;
}

#chat_input:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 1px rgb(43, 123, 214, 0.9);
    caret-color: white;
}

#game_log_box {
    height: 146px;
}

#chat_box {
    height: 110px;
}

#chat_box,
#game_log_box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 10px;
    overflow-y: auto;
    font-size: 14px;
    white-space: nowrap;
}

#chat_box div,
#game_log_box div {
    padding: 0.15rem 0;
}

#chat_box::-webkit-scrollbar,
#game_log_box::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
}

#chat_box::-webkit-scrollbar-track,
#game_log_box::-webkit-scrollbar-track {
    background-color: transparent;
}

#chat_box::-webkit-scrollbar-thumb,
#game_log_box::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255, 0.3);
    border: 3px solid transparent;
    background-clip: content-box;
}

#chat_box::-webkit-scrollbar-thumb:hover,
#game_log_box::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

#chat_box::-webkit-scrollbar-corner,
#game_log_box::-webkit-scrollbar-corner {
    background: transparent;
}

#player_list::-webkit-scrollbar {
    display: none;
}

.footer_item h3 {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

#best_hand {
    padding: 0 10px;
}

#best_hand h3 {
    justify-content: center;
}

.best_hand_cards {
    display: flex;
    width: 100%;
    gap: clamp(2px, 2vw, 15px);
    margin: auto;
    justify-content: center;
    align-items: center;
}

#best_hand .card {
    height: 86px;
    width: 57px;
    height: clamp(55px, 16vw, 86px);
    width: clamp(38px, 11vw, 57px);
    border-radius: 5px;
}

#best_hand .card_front p {
    font-size: clamp(19px, 6vw, 32px);
}

#best_hand .card_front {
    justify-content: center;
    align-items: center;
}

#best_hand .card_front div {
    justify-content: center;
}

@keyframes bottomright {
    0% {
        width: 0;
        height: 0;
        visibility: visible;
    }

    25% {
        width: 100%;
        height: 0;
        visibility: visible;
    }

    50% {
        height: 100%;
        width: 100%;
        visibility: visible;
    }

    75% {
        visibility: visible;
    }

    100% {
        height: 100%;
        visibility: visible;
    }
}

@keyframes topleft {
    0% {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    25% {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    50% {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    75% {
        width: 100%;
        height: 0;
        visibility: visible;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
    }
}

.draw {
    position: relative;
}

.draw:after {
    content: "";
    position: absolute;
    bottom: -7px;
    padding-left: 7px;
    right: -7px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-bottom: 7px solid #2E77C8;
    border-left: 7px solid #2E77C8;
    animation: bottomright var(--time_left, 1) ease-in forwards;
    visibility: hidden;
}

.draw:before {
    content: "";
    position: absolute;
    top: -0.5px;
    left: -7px;
    padding-right: 7px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-top: 7px solid #2E77C8;
    border-right: 7px solid #2E77C8;
    animation: topleft var(--time_left, 1) ease-in forwards;
    visibility: hidden;
}

.rules {
    font-family: "Inter";
}

.rules .intro {
    margin: 50px;
}

.rules .main {
    height: auto;
    align-items: start;
    padding-bottom: 2vw;
}

.rules h2 {
    font-size: 34px;
}

.rules .intro p {
    font-size: 16px;
}

.rules h3 {
    font-size: 24px;
    font-weight: 700;
}

.rules .section {
    margin: 10px 10vw;
}

.section p,
.section li {
    text-align: justify;
    text-justify: inter-word;
}

.rankings_container {
    margin: 0 10vw;
    margin-bottom: 20px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

.ranking_container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 15px;
    flex-wrap: wrap;
}

.ranking_container h4 {
    margin-top: 15px;
}

.explanation {
    color: gray;
    padding: 0;
    margin: 0;
    font-size: 14px;
    width: 100%;
}

#tips {
    padding-left: 20px;
}

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    40% {
        opacity: 0.3;
    }
}


@media (max-width: 600px) {
    .home_page h1 {
        font-size: 36px;
    }

    .home_page p {
        font-size: 16px;
    }

    .title {
        display: none;
    }

    .logo {
        width: 50px;
    }

    .button_title {
        margin-bottom: 20px;
    }


    .menu {
        margin: 0;
    }

    .menu_items {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .menu_button {
        display: block;
    }

    .rules .section {
        margin: 10px 30px;
    }

    .rankings_container {
        margin: auto;
    }
}

@media (max-width: 880px) {
    #game_footer {
        grid-template-columns: 1fr 40px;
        gap: 0;
    }

    .footer_item {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #chat {
        display: var(--show, none);
    }

    #game_log {
        display: var(--show, none);
    }

    #best_hand {
        display: var(--show, grid);
    }

    #footer_buttons {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        height: 100%;
        width: 25px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .footer_button_container {
        display: flex;
        height: 100%;
        width: 40px;
        justify-content: center;
        align-items: center;
    }

    .footer_button {
        height: 100%;
        width: 100%;
        background-color: transparent;
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        cursor: pointer;
    }

    #best_hand_button {
        background-image: url("../img/spade_light.svg");
        border-top-right-radius: 5px;
    }

    #chat_button {
        background-image: url("../img/chat_light.svg");
    }

    #game_log_button {
        background-image: url("../img/log_light.svg");
        border-bottom-right-radius: 5px;
    }
}