body {
    display: flex;
    flex-direction: column;
    font-family: "Inter Tight";
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}

h1 {
    margin: 0 15px;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

h2 {
    margin: 0 15px;
    font-size: 30px;
    font-weight: 800;
}

p {
    margin: 0 15px;
    font-size: 21px;
    color: gray;
    text-align: center;
    max-width: 750px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button h3 {
    margin: 0;
    font-size: 24px;
    text-align: start;
}

button p {
    margin: 0;
    text-align: start;
    font-size: 16px;
}

.header {
    display: flex;
    height: 70px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
    justify-content: space-between;

}

.logo {
    display: flex;
    height: 100%;
    width: 200px;
    align-items: center;
    margin: 15px;
}

.title {
    font-family: "Style Script";
    font-size: 26px;
    margin-top: 3px;
    color: black;
    white-space: nowrap;
}

.menu {
    display: flex;
    height: 100%;
    margin: 15px;
    justify-content: end;
    align-items: center;
}

.menu_items {
    display: flex;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -1px;
    word-spacing: +1px;
    justify-content: space-between;
    text-wrap: nowrap;
    gap: 2vw;
}

.menu_button {
    display: none;
    height: 100%;
    width: 45px;

    background-image: url("../img/menu_dark.png");
    background-color: transparent;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.menu_button:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.create_lobby {
    font-family: "Inter";
}

#logo_img {
    max-height: 45%;
    margin-right: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.game_options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 50px 15px;
}

.game_options button {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-family: "Inter Tight";
    padding: 20px;
}

.game_options button:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.game_options button:active {
    box-shadow: rgba(0, 0, 0, 0.2) 1.25px 0.95px 2px;
    transform: translate(-0.75px, -1.05px);
}

.game_options button .button_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button_title {
    margin-bottom: 50px;
}

#custom_button {
    text-align: center;
    margin-bottom: 0;
}

#lobby_direction {
    font-size: 14px;
}

.create_lobby .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin: 30px;
}

.create_lobby input {
    font-size: 14px;
    border-radius: 5px;
    border: none;
    padding: 0.6rem; 
    margin: 4px 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.create_lobby input:focus {
    outline: none;
    border: 2px solid rgb(68, 74, 277);
    margin: 2px 0;
}

.create_lobby form {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create_lobby form label {
    margin-left: 1px;
}

#create_lobby_button {
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;
    width: 100%;
    padding: 0.6rem;
    color: white;
    background-color: rgb(68, 74, 277);
    border: none;
    border-radius: 5px;
}

#create_lobby_button:hover {
    background-color: rgb(57, 60, 201);
}

.detail_field {
    display: flex;
    flex-direction: column;
    width: 25rem;
}

@media (max-width: 600px) {
    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }

    .menu {
        margin: 0;
    }

    .menu_items {
        display: none;
    }

    .menu_button {
        display: block;
    }
}