body {
    display: flex;
    flex-direction: column;
    font-family: "Inter Tight";
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}

h1 {
    margin: 0 15px;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

h2 {
    margin: 0 15px;
    font-size: 30px;
    font-weight: 800;
}

h3 {
    margin:0;
    padding:0;
}

p {
    margin: 0 15px;
    font-size: 21px;
    color: gray;
    text-align: center;
    max-width: 750px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button h3 {
    margin: 0;
    font-size: 24px;
    text-align: start;
}

button p {
    margin: 0;
    text-align: start;
    font-size: 16px;
}

.header {
    display: flex;
    height: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
    justify-content: space-between;
}

.header a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    height: 100%;
    width: 200px;
    gap: 15px;
    align-items: center;
    margin: 20px;
}

.title {
    font-family: "Jost";
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-top: 3px;
    color: black;
    white-space: nowrap;
}

.menu {
    display: flex;
    height: 100%;
    margin: 15px;
    justify-content: end;
    align-items: center;
}

.menu_items {
    display: flex;
    font-family: "Inter Tight";
    font-weight: 300;
    font-size: 16px;
    word-spacing: +1px;
    justify-content: space-between;
    white-space: nowrap;
    gap: 1vw;
}

.menu_button {
    display: none;
    height: 100%;
    width: 45px;

    background-image: url("../img/menu_dark.png");
    background-color: transparent;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}


.menu_button:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.common_button {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0;
    width: 100%;
    padding: 0.6rem;
    color: white;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.common_button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.blue_button {
    background-color: rgb(43, 123, 214, 0.9);
}

.red_button {
    background-color: rgb(214, 91, 75, 0.9);
}

.green_button {
    background-color: rgb(0, 163, 84, 0.9);
}

.blue_button:hover {
    background-color: rgb(33, 103, 194);
}

.red_button:hover {
    background-color: rgb(184, 61, 45);
}

.green_button:hover {
    background-color: rgb(0, 133, 64);
}

#call_button.active {
    background-color: rgb(57, 60, 201);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#fold_button.active {
    background-color: rgb(201, 60, 57);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.create_lobby {
    font-family: "Inter";
}

#logo_img {
    height: 50%;
    /* margin-right: 20px; */
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.game_options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 50px 15px;
}

.game_options button {
    width: 200px;
    height: 200px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-family: "Inter Tight";
    padding: 20px;
}

.game_options button:hover {
    background-color: rgb(0, 0, 0, 0.05);
}

.game_options button:active {
    box-shadow: rgba(0, 0, 0, 0.1) 1.25px 0.95px 2px;
    transform: translate(-0.75px, -1.05px);
}

.game_options button .button_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button_title {
    margin-bottom: 50px;
}

#custom_button {
    text-align: center;
    margin-bottom: 0;
}

#lobby_direction {
    font-size: 14px;
}

.create_lobby .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin: 30px;
}

.create_lobby input {
    font-size: 14px;
    border-radius: 5px;
    border: none;
    padding: 0.6rem;
    margin: 4px 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.create_lobby input:focus {
    outline: none;
    border: 2px solid rgb(68, 74, 277);
    margin: 2px 0;
}

.create_lobby form {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create_lobby form label {
    margin-left: 1px;
}

#start_game_button {
    background-color: rgb(0, 197, 96);
}

#start_game_button:hover {
    background-color: rgb(0, 167, 81);
}

.detail_field {
    display: flex;
    flex-direction: column;
    width: 25rem;
}

.game .main {
    justify-content: space-between;
    margin: 10px 0;
}

body.game {
    background-color: rgb(19, 233, 108);
    background-image: url('../img/felt.png');
}

.game .header {
    background-color: rgb(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.game .menu_button {
    background-image: url("../img/menu_light.png");
}

.game a {
    color: white;
}

.game .title {
    color: white;
}

#game_footer {
    width: 100%;
    display: grid;
    color: white;
    background-color: rgb(0, 0, 0, 0.25);
    box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.08) -3px -3px 6px 1px inset;
    grid-template-columns: repeat(3, 1fr);
    
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#player_list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3vw;
    grid-row-gap: 20px;
    margin: 0 20px;
    justify-items: center;
    align-items: end;
}

.player_info_container {
    margin-top: 20px;
    padding: 7px;
    padding-top: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: rgb(0, 0, 0, 0.18);
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.player_info_container.turn {
    box-shadow: inset 0px 0px 0px 7px rgb(0, 0, 0, 0.1), rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.player_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 20px;
    border-radius: 5px;
    gap: 15px;
}

.player_info.self {
    gap: 25px;
    padding: 25px 25px;
}

.player_name {
    font-size: 20px;
    font-weight: 600;
    line-height: 1rem;
    color: rgb(14, 48, 53);
    padding-bottom: 5px;
}

.game .value_container {
    color: rgb(8, 3, 66);
}

.value_container {
    font-family: "Inter";
    font-size: 15px;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;

    background-color: rgba(0, 63, 100, 0.2);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-weight: 500;
}

.player_hand {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
    height: 110px;
    width: 77px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.card_front {
    display: flex;
    flex-direction: column;
    background-color: white;
    line-height: 0;
    letter-spacing: 0;
    justify-content: space-between;
    align-items: start;
}

.card_front div {
    display: flex;
    width: 100%;
    justify-content: end;
}

.card_front p {
    font-family: "Oswald";
    font-size: 38px;
    color: black;
    margin: 34% 17%;
}

.card_red p {
    color: red;
}

.card_front div p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 58px;
    margin-bottom: 37%;
}

.card_back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: linear-gradient(30deg, #4169e1 12%, transparent 12.5%, transparent 87%, #4169e1 87.5%, #4169e1), linear-gradient(150deg, #4169e1 12%, transparent 12.5%, transparent 87%, #4169e1 87.5%, #4169e1), linear-gradient(30deg, #4169e1 12%, transparent 12.5%, transparent 87%, #4169e1 87.5%, #4169e1), linear-gradient(150deg, #4169e1 12%, transparent 12.5%, transparent 87%, #4169e1 87.5%, #4169e1), linear-gradient(60deg, #4169e177 25%, transparent 25.5%, transparent 75%, #4169e177 75%, #4169e177), linear-gradient(60deg, #4169e177 25%, transparent 25.5%, transparent 75%, #4169e177 75%, #4169e177);
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

.card_back img {
    width: 70%;
}

#com_cards {
    display: flex;
    gap: 10px;
}

.flip-card {
    background-color: transparent;
    height: 110px;
    width: 77px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    border-radius: 5px;
}

.flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

#game_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.pip_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pot {
    background-color: rgb(0, 100, 0, 0.3);
}

.info_container {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}

.net_change {
    grid-row: 2;
    width: max-content;
    margin: auto;
}

.player_score {
    display: flex;
    justify-content: center;
    font-weight: 800;
}

#game_footer .player_score {
    margin: 0;
}

.flash {
    animation-name: flash;

}

#choice_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 5px;
    margin: 4vh;
    padding: 10px;
    border-radius: 5px;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#choice_container .common_button {
    margin: 5px;
    padding-left: 0;
    padding-right: 0;
}

#raise_slider {
    width: 100%;
}

#main_choices {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px, 100px, 100px;
    width: 100%;
    gap: 5px;
}

.footer_item {
    display:grid;
    grid-template-rows: auto 100px auto;
    justify-content: start;
    align-items: center;
    margin: 15px;

    border-radius: 10px;
    border: 1px solid rgb(0,0,0,0.2);
}

#best_hand {
    justify-content: center;
}

#best_hand h3 {
    justify-content: center;
}

.footer_item h3 {
    display: flex;
    justify-content: start;
}

.best_hand_cards {
    display: flex;
    width: 100%;
    gap: 1vw;
    justify-content: center;
}

#best_hand .card {
    height: 86px;
    width: 57px;
    border-radius: 5px;
}

#best_hand .card_front {
    justify-content: center;
    align-items: center;
}

#best_hand .card_front div {
    justify-content: center;
}

#best_hand .card_front p {
    font-size: 32px;
}

#best_hand .card_front div p {
    font-size: 47px;
}

#best_hand .flip-card {
    height: 86px;
    width: 57px;
}

@keyframes bottomright {
    0% {
        width: 0;
        height: 0;
        visibility: visible;
    }

    25% {
        width: 100%;
        height: 0;
        visibility: visible;
    }

    50% {
        height: 100%;
        width: 100%;
        visibility: visible;
    }

    75% {
        visibility: visible;
    }

    100% {
        height: 100%;
        visibility: visible;
    }
}

@keyframes topleft {
    0% {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    25% {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    50% {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    75% {
        width: 100%;
        height: 0;
        visibility: visible;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
    }
}

.draw {
    position: relative;
}

.draw:after {
    content: "";
    position: absolute;
    bottom: -7px;
    padding-left: 7px;
    right: -7px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-bottom: 7px solid #2E77C8;
    border-left: 7px solid #2E77C8;
    animation: bottomright var(--time_left, 1) ease-in forwards;
    visibility: hidden;
}

.draw:before {
    content: "";
    position: absolute;
    top: -0.5px;
    left: -7px;
    padding-right: 7px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-top: 7px solid #2E77C8;
    border-right: 7px solid #2E77C8;
    animation: topleft var(--time_left, 1) ease-in forwards;
    visibility: hidden;
}

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    40% {
        opacity: 0.3;
    }
}


@media (max-width: 600px) {
    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }

    .menu {
        margin: 0;
    }

    .menu_items {
        display: none;
    }

    .menu_button {
        display: block;
    }
}