<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/game.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Holdem Haven Game</title>
</head>

<body>
    <div id="playerList">
    </div>
    <div class="cbfButtons" id="cbf"></div>
    <div id="gameInfo">
        <div id="cards"></div>
        <div id="pot"></div>
    </div>
</body>

</html>