<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700&family=Inter:wght@400;500;600;800&family=Jost:wght@700;900&family=Oswald:wght@200;300;400&display=swap"
        rel="stylesheet">

    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/img/logo_spade_light.svg">
    <title>Holdem Haven</title>
</head>

<body class="home_page">
    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="../static/img/logo_dark.svg" alt="Holdem Haven Logo" id="logo_img">
                <div class="title">Holdem Spades</div>
            </a>
        </div>
        <div class="menu">
            <div class="menu_items">
                <a href="/rules">How to Play</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="dropdown">
                <button class="menu_button"></button>
                <div class="menu_button_choices">
                    <a href="/rules" class="menu_choice">How to Play</a>
                    <a class="menu_choice">About</a>
                    <a class="menu_choice">Contact</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="intro">
            <h1>Welcome to the Holdem Spades!</h1>
            <p>Join players online and experience the thrill of Texas Hold'em from the comfort of your home. Choose your
                game mode, invite friends and start playing.</p>
        </div>
        <div class="game_options">
        </div>
    </div>

</body>

</html>