<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Join</title>
</head>

<body>
    <form id="join-game-form" action="/add_player/{{ game_id }}" method="post">
        <label for="player_name">Player Name:</label>
        <input type="text" id="player_name" name="player_name"><br><br>
        <label for="starting_balance">Starting Balance:</label>
        <input type="number" id="starting_balance" name="starting_balance" min="0" step="1"><br><br>
        <button type="submit" id="join">Join Game</button>
    </form>
</body>


</html>